<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tivnan.studentls.dao.ReviewMapper">

    <insert id="insert" parameterType="com.tivnan.studentls.bean.Review">
   insert into review(note_id, teacher_id,times_id)
values (#{noteId,jdbcType=CHAR},#{id,jdbcType=INTEGER},#{timesId,jdbcType=INTEGER})
  </insert>

</mapper>